<%= fields_for 'new_registrations[]', registration do |reg_form| %>
	<% if registration.errors.any? %>
		<tr><td colspan="2">
			<ul>
			<% registration.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</td></tr>
	<% end %>
	<tr>
		<td>
			<%= reg_form.text_field :name %>
		</td>
		<td>
			<%= reg_form.text_field :comments %>
		</td>
		<td>
			<%= reg_form.collection_select :event_id, @events, :id, :location %>
		</td>
		<td>
			<%= link_to_function 'remove', "$(this).up('tr').remove()" %>
		</td>
	</tr>
<% end %>