<h1>Welcome to Nehemiah</h1>
<p id="notice"><%= notice %></p>
<p>This application allows you to administer inscriptions for Assembly events, like GVs, AGMs and MBPs.</p>
<div class="selectbox">
  <h3>Create or View AG Registration</h3>
  <%= form_tag('registrations/agshow', :method => "get") do %>
    <%= select_tag 'ag_id', options_from_collection_for_select(Ag.all, :id, :name) %>
    <%= select_tag 'season_id', options_from_collection_for_select(Season.all, :id, :name) %>
    <%= select_year(Date.today, :start_year => Date.today.year, :end_year => 2.years.from_now.year,
      :prefix => 'year', :discard_type => true) %>
    <input type="submit" value="Go">
  <% end %>
</div>
<div class="selectbox">
  <h3>View Event Registrations</h3>
  <%= form_tag('registrations/eventshow', :method => "get") do %>
    <%= select_tag 'season_id', options_from_collection_for_select(Season.all, :id, :name) %>
    <%= select_year(Date.today, :start_year => Date.today.year, :end_year => 2.years.from_now.year,
        :prefix => 'year', :discard_type => true) %>
    <input type="submit" value="Go">
  <% end %>
</div>
